*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: rgba(255, 7, 185, 0.558);
}

.título-destaque {
    color: #fd2222;
}